label {
    padding: 10px;
    display: inline-block;
}

li > ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    font-size: small;
}

li > ul {
    padding: 0;
}

form > p {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    margin: 0;
}

form > label {
    vertical-align: middle;
}
