@topBgColor: #EEE;

body {
    margin: 0;
}

h1 {
    font-family: "Dancing Script", cursive;
    padding: 5px;
    margin: 0;
    background-color: @topBgColor;
    text-align: center;
    font-weight: normal;
    color: #603;
}

nav {
    background-color: @topBgColor;
    padding: 5px 15px;
    font-family: 'Josefin Slab', serif;
}

nav > form:last-child {
    margin-bottom: 0;
}

label {
    @selectedColor: #903;

    display: inline-block;
    margin: 5px;
    position: relative;
    input[type=radio] {
        display: none;
        + span {
            width: 30px;
            height: 30px;
            margin: 5px;
            display: inline-block;
            position: relative;
            // Radio button marker
            &:before {
                transition: all .2s;
                display: block;
                width: 18px;
                height: 18px;
                margin: 6px;
                background-color: rgba(255,0,0,0.0);
                border-radius: 10px;
                content: "";
                position: absolute;
            }
            // Radio button circle
            &:after {
                transition: all .2s;
                display: block;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border-radius: 15px;
                content: "";
                border: 5px solid #999;
                position: absolute;
            }
        }
    }
    input[type=radio]:checked  {
        ~ span {
            color: @selectedColor;
        }
        + span {
            &:before {
                background-color: @selectedColor;
                width: 10px;
                height: 10px;
                margin: 10px;
            }
            &:after {
                border: 5px solid @selectedColor;
            }
        }
    }
}

li > ul.summary > li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    font-family: 'Josefin Slab', serif;
}

li > ul.details > li {
    list-style: none;
    padding-left: 10px;
    font-size: small;
}

li > ul {
    padding: 0;
}

li > h2 {
    font-family: "Dancing Script", cursive;
    font-weight: normal;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

form > p {
    display: inline-block;
    margin: 0;
    font-weight: bold;
}

form {
    margin-bottom: 10px;
}

form label {
    text-align: center;
    display: flex;
    align-items: center;
    @media (max-width: 400px) {
        flex: 1;
        flex-direction: column;
    }
}

input[type=radio] {
    margin: 10px;
}

#recipeList {
    padding-left: 30px;
    margin: 0;
    padding-right: 30px;
}

#recipeList > li {
    cursor: pointer;
    padding: 10px;

    &.open {
    }
}

.details > p:last-child {
    margin-bottom: 0;
}

.details > p:first-child {
    margin-top: 0;
}

.details {
    font-family: 'Josefin Slab', serif;
    padding-left: 25px;
    margin-left: -25px;
    border-left: 1px solid #000;

    ul {
        padding-left: 0;
        li {
            list-style: none;
            .amount {
                width: 50px;
                display: inline-block;
                text-align: right;
                margin-right: 10px;
            }
        }
    }
}

.inputGroup {
    display: flex;
    flex-direction: row;
}

select {
    width: ~"calc(100% - 20px)";
    margin: 10px;
    font-size: 16px;
}

footer {
    margin: 15px;
}
