label {
    display: inline-block;
}

li > ul.summary > li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    font-size: small;
}

li > ul.details > li {
    list-style: none;
    padding-left: 10px;
    font-size: small;
}

li > ul {
    padding: 0;
}

form > p {
    display: inline-block;
    margin: 0;
}

form label {
    text-align: center;
    display: flex;
    align-items: center;
    @media (max-width: 400px) {
        flex: 1;
        flex-direction: column;
    }
}

input[type=radio] {
    margin: 10px;
}

#recipeList {
    padding: 0 20px 0 20px;
}

#recipeList > li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

    &.open {
        border-color: #000;
    }
}

#recipeList > li:hover {
    background-color: #EEE;
}

.details > p:last-child {
    margin-bottom: 0;
}

.inputGroup {
    display: flex;
    flex-direction: row;
}

select {
    width: ~"calc(100% - 20px)";
    margin: 10px;
}
